body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    font-size: 50px;
}

nav a {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 35px;
    color: white;
    font-size: 20px;
    transition: 0.4s;
    
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

h2 {
    text-align: center;
}