@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Vinyl&display=swap');

body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: -69px;
}

hgroup {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(245, 245, 245);
    font-family:'Permanent Marker', Arial, Helvetica, sans-serif;
}

hgroup p {
    text-transform: uppercase;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    text-align: center;
    font-size: 50px;
}

footer {
    text-align: center;
    background: hsl(0, 0%, 0%, .4);
    margin-top: auto;
    width: 100%;
}

footer p {
    color: white;
    text-align: center;
    text-decoration: underline;
}

.socialMedia {
    display: inline-block;
    width: 95px;
    font-size: 20px;
    line-height: 1.7;
    text-align: left;
    margin-right: 25px;
}

.socialMedia a:hover {
    background-color: #ddd;
    transition: 0.4s;
    color: black;
    border-radius: 5px;
}

.contact {
    display: inline-block;
    width: 157px;
    font-size: 20px;
    text-align: left;
    line-height: 1.7;
    margin-left: 45px;
}

.contact a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.4s;
    border-radius: 5px;
}

.copyright {
    text-align: center;
    padding-right: 135px;
}

h2 {
    text-align: center;
}

.follow {
    line-height: 25px;
}

form {
    text-align: center;
    border-radius: 5px;
}

label {
    display: block;
    margin: 20px 0;
    text-align: left;
    padding-left: 9px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #d3d3d3;
}

.bgmodal {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    overflow: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modalContent {
    width: 600px;
    height: 600px;
    background-color: white;
    position: relative;
    border-radius: 10px;
}

input[type="text"]:focus,
textarea:focus {
    border-bottom: 1px solid black;
}

.sendMessage {
    width: 90%;
    margin-top: 10px;
    max-width: 200px;
    background: black;
    color: white;
    font-size: 17px;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    cursor: pointer;
    transform: rotate(45deg);
}

.errorBorder {
    border-bottom: 1px solid red;
}

button {
    width: 60%;
    border-radius: 4px;
}

#clickMe {
    margin-left: 30px;
    transition: 0.4s;
}

#clickMe:hover {
    background-color: grey;
    color: black;
}

#clickMe:active {
    background-color: grey;
    transform: translateY(4px);
}

.centerButton {
    display: flex;
    margin-bottom: 15px;
}

#clickButton {
    margin: auto;
    width: 15%;
    border-radius: 4px;
    font-size: 30px;
    box-shadow: 10px 5px 5px black;
}

#clickButton:active {
    background-color: grey;
    transform: translateY(4px);
}

.randomDog {
    width: 500px;
    height: 500px;
    margin-right: 15px;
    border: 5px solid black;
    border-radius: 4px;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: 10px 5px 5px black;
}

#quote {
    background-color: #ddd;
    color: black;
    font-size: 30px;
    margin-left: 15px;
    border-radius: 4px;
    box-shadow: 10px 5px 5px black;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center
}

@media screen and (max-width: 840px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    nav,
    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
