body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

header {
    text-align: center;
    font-size: 50px;
}

nav a {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 35px;
    color: white;
    font-size: 20px;
    transition: 0.4s;

}

nav a:hover {
    background-color: #ddd;
    color: black;
}

footer {
    text-align: center;
    background: hsl(0, 0%, 0%, .7);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

footer p {
    color: white;
    text-decoration: underline;
}

.socialMedia {
    display: inline-block;
    width: 95px;
    font-size: 20px;
    line-height: 1.7;
    text-align: left;
    margin-right: 25px;
}

.socialMedia a:hover {
    background-color: #ddd;
    transition: 0.4s;
    color: black;
    border-radius: 5px;
}

.navUseful {
    display: inline-block;
    width: 165px;
    font-size: 20px;
    line-height: 1.7;
    text-align: left;
    margin-left: 50px;
}

.navUseful a:hover {
    background-color: #ddd;
    transition: 0.4s;
    color: black;
    border-radius: 5px;
}

.contact {
    display: inline-block;
    width: 157px;
    font-size: 20px;
    text-align: left;
    line-height: 1.7;
    margin-left: 45px;
}

.contact a:hover {
    background-color: #ddd;
    transition: 0.4s;
    color: black;
    border-radius: 5px;
}

.copyright {
    text-align: center;
    padding-right: 135px;
}

h2 {
    text-align: center;
}

.follow {
    line-height: 25px;
}

hr {
    width: 80%;
}

@media screen and (max-width: 840px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {

    nav,
    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}